@model AlbumViewModel

@{
    ViewData["Title"] = "Edit album";
}

@section Scripts {
    <script src="~/js/album.js"></script>
}

<h3><i class="fa fa-pencil"></i> Edit album</h3>
<hr />

<form asp-controller="Album" asp-action="Edit" asp-route-id="@Model.Id" id="edit-album-form">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="CoverFilePath" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row mb-3">
        <label asp-for="Name" class="col-form-label col-sm-2"></label>
        <div class="col-sm-6">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="Description" class="col-form-label col-sm-2"></label>
        <div class="col-sm-6">
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-form-label col-sm-2">Add more files</label>
        <div class="col-sm-6">
            <span class="btn btn-secondary btn-file">
                <i class="fa fa-camera"></i> Add files
                <input title="Add photos" multiple data-toggle="tooltip" data-placement="bottom" 
                type="file" accept="image/*, video/*" text="add photos" id="upload-media" />
            </span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <input type="submit" value="Save changes" class="btn btn-success" />
        </div>
    </div>

    @Html.EditorFor(m => m.Media, "Gallery")
</form>
