@model UserViewModel

@{
    ViewData["Title"] = "_Image";
}

<li class="col-sm-6">
    <a asp-controller="Profile" asp-action="Index" asp-route-id=@Model.Id class="UserName side-menu-item">
        <img class="img-responsive rounded-circle img-thumbnail" id="avatar-photo" src="@Url.Action("RenderProfilePicture", "Profile", new { id=Model.Id})">
        @Model.FirstName @Model.LastName
        <span class="float-right">@DateConverter.Convert(Model.CreatedOn)</span>
    </a>
</li>

