.kaki,
.mushroom-card  .form-label,
.mushroom-card .form-check-label,
.mushroom-card .card-text>span {
    font-weight: bold;
    color: darkolivegreen;
}

.bg-himenofor-nelamelar-netubular {
    background-color: rgba(250, 250, 209, 0.5);
}

.bg-himenofor-tubular {
    background-color: rgb(240, 128, 128, 0.5);
}

.bg-himenofor-lamelar {
    background-color: rgb(173, 216, 230, 0.5);
}

.shadow-page:before,
.shadow-page:after {
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    width: 15px;
}

.shadow-page:before {
    box-shadow: -15px 0 15px -15px inset;
    left: -15px;
}

.shadow-page:after {
    box-shadow: 15px 0 15px -15px inset;
    right: -15px;
}