@model MediaViewModel

@{
    ViewData["Title"] = "_Media";
}

<img src="@Url.Content(Model.FilePath)" class="card-img-bottom">

@* <figure class="media-body">
    <input type="hidden" asp-for="Id" value="@Model.Id" class="image-id" />
    <img src="@Url.Content(Model.Id)" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
    <div class="figure-caption row">
        <textarea class="comment-body col-sm-11 text caption" placeholder="Write a description...">@Model.Caption</textarea>
        <button class="btn btn-xs delete col-sm-1 float-right" data-title="Delete" data-toggle="modal" data-target="#delete">
            <span class="fa fa-trash"></span>
        </button>
    </div>
</figure> *@




