@inject IAuthorizationService AuthorizationService
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject CurrentUser CurrentUser

<!DOCTYPE html>
<html>
<head>
    <partial name="Partials/_Head" />
    @RenderSection("Styles", required: false)
</head>
<body class="bg-body">
    <header>
        <partial name="Partials/_Menu" />
    </header>

    @if (SignInManager.IsSignedIn(User))
    {
        <aside>
            <partial name="Partials/_SideMenu" />
        </aside>
    }


    <main>
        <div class="container pt-3">
            @RenderBody()
        </div>
    </main>

    <footer class="footer fixed-bottom mt-auto py-1 bg-dark-subtle opacity-50">
        <span class="text-muted">&copy; @DateTime.Now.Year - SocializR</span>
    </footer>

    <partial name="Partials/_JavaScriptFiles" />
    @RenderSection("Scripts", required: false)
</body>
</html>
